#login{
    width:100%;
    height:602px;
    /* background-image:url(http://img0.imgtn.bdimg.com/it/u=252425940,257883462&fm=27&gp=0.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #0e0e3b

}
.center{
    position: absolute;
    top: 35%;
    height: 50%;
    width: 30%;
    left: 35%;
}
#login>.center{
    font-weight: bold;
    color: rgb(255,255,255); 
    text-align: center;
}
#login>.center h2,#login>.center h6{
    color: rgb(255,255,255) 
}
#login .row{
    margin: 10px 0px;
}